<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.darmstadt.tu.informatik.tk.iptk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-features android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessagesActivity"
            android:parentActivityName=".activities.InboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyLocationDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlaceResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapViewActivity"
            android:screenOrientation="portrait" />

        <service android:name=".notifications.FriendRequestMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.ThisPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.UserProfileActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>